{% extends 'base.html' %}

{% block title %}Internal Server Error | Clipadvisor: Rate Your Barber!{% endblock %}

{% block content %}
<!-- 500 error alert -->
<div class="form-card error-alert alert alert-danger text-center">
    <i class="fas thanks-for-reviewing-icon fa-exclamation-triangle pt-1"></i>
    <h4 class="mt-3 mb-4">Internal Server Error</h4>
    <p>BAD NEWS!<br>This is kinda embarrassing (and probably our fault), but something seems to have gone wrong...</p>
    <hr class="my-2 logout-divider">
    <p class="mt-3">GOOD NEWS!<br>You can get back to browsing Clipadvisor <a class="error-redirect-link" href="{{ url_for('home') }}"><strong>right here</strong></a></p>
    <i class="fas thanks-for-reviewing-icon fa-cut pt-1"></i>
</div>
<!-- /500 error alert -->
{% endblock %}