{% extends 'base.html' %}

{% block title %}Contact | Clipadvisor: Rate Your Barber!{% endblock %}

{% block navbarnavcontact %}
<li class="nav-item active">
    <a class="nav-link px-md-2 px-xl-3" href="{{ url_for('contact') }}">Contact <span class="sr-only">(current)</span></a>
</li>
{% endblock %}

{% block content %}
<!-- Default form contact -->
<!-- contact form card container -->
<div class="card form-card login-form-card mt-3 mt-md-0">

    <form class="text-center border border-light p-5" id="form-contact" method="POST" action="{{ url_for('contact') }}">

        <h3 class="mb-4 text-center">Contact Us</h3>

        <!-- name input field -->
        <div class="form-group">
            <input type="text" name="contact-form-name" id="contact-form-name" class="form-control" placeholder="Name"
                minlength="4" maxlength="50" required>
        </div>
        <!-- /name input field -->

        <!-- email input field -->
        {% if not session.user %}
        <div class="form-group">
            <input type="email" id="contact-form-email" name="contact-form-email" class="form-control mb-2"
                placeholder="Email" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                title="You have entered an invalid email. Please try again with the following format: example@example.com"
                minlength="6" maxlength="100" required>
        </div>
        {% else %}
        <div class="form-group d-none">
            <input type="email" id="contact-form-email" name="contact-form-email" class="form-control mb-2"
                value="{{ session.user }}" required>
        </div>
        {% endif %}
        <!-- /email input field -->

        <!-- message category select -->
        <div class="form-group mb-0">
            <label class="font-weight-bold">Subject:</label>
            <select class="browser-default custom-select mb-2" id="contact-form-category"
            name="contact-form-category" required>
                <option disabled>Choose a category:</option>
                <option value="Feedback" selected>Feedback</option>
                <option value="General query">General query</option>
                <option value="Feature suggestion">Feature suggestion</option>
                <option value="Bug/Error detected">Report a bug/error message</option>
            </select>
        </div>
        <!-- /message category select -->

        <!-- message textarea -->
        <div class="form-group">
            <textarea id="contact-form-message" name="contact-form-message"
            class="rounded-0 shadow-sm form-control md-textarea" rows="4" minlength="10"
            maxlength="2000" placeholder="Please post your message here..." required></textarea>
        </div>
        <!-- /message textarea -->

        <!-- contact form submit button -->
        <button class="btn barber-blue mt-4_5 mb-0 btn-block white-text btn-contact" type="submit">Send</button>
        <!-- /contact form submit button -->

    </form>

</div>
<!-- /contact form card container -->
<!-- Default form contact -->
{% endblock %}

{% block scripts %}
<script src="https://smtpjs.com/v3/smtp.js"></script>
{% endblock %}