{% extends 'base.html' %}

{% block navbarnavhome %}
<li class="nav-item active">
    <a class="nav-link px-md-2" href="{{ url_for('home') }}">Home <span class="sr-only">(current)</span></a>
</li>
{% endblock %}

{% block content %}
<!-- CTA jumbotron -->
<div class="jumbotron form-card text-center">
    <h2 class="h1-responsive">Know a good barber?</h2>
    <p class="lead">Then tell us below!</p>
    <hr class="my-2">
    <p>Submit your review today to be in with a chance of winning a €100 barbershop voucher</p>
    {% if not session.user %}
    <a class="btn barber-blue white-text btn-lg" href="{{ url_for('register') }}" role="button">Rate your
        barber</a>
    {% else %}
    <a class="btn barber-blue white-text btn-lg" href="{{ url_for('review_submit') }}" role="button">Rate your
        barber <i class="fas fa-cut pt-1"></i></a>
    {% endif %}
</div>
<!-- end of CTA jumbotron -->
{% endblock %}