{% extends 'base.html' %}

{% block title %}Log In | Clipadvisor: Rate Your Barber!{% endblock %}

{% block navbarnavlogin %}
<li class="nav-item active">
    <a class="nav-link px-md-2 px-xl-3" href="{{ url_for('login') }}">Log In <span class="sr-only">(current)</span></a>
</li>
{% endblock %}

{% block content %}

<!-- login form card container -->
<div class="card form-card login-form-card mt-3">

    <!-- login form -->
    <form class="border border-light p-5" id="form-login" action="{{ url_for('login') }}" method="POST">

        <h3 class="mb-4 text-center">Log In</h3>

        <!-- email input field -->
        <div class="form-group">
            <input type="email" name="login-email" id="login-email" class="form-control" placeholder="Email"
                pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                title="You have entered an invalid email. Please try again with the following format: example@example.com"
                required>
        </div>
        <!-- /email input field -->

        <!-- password input field -->
        <div class="form-group mb-1">
            <input type="password" name="login-password" id="login-password" class="form-control mb-1"
                placeholder="Password" required>
        </div>
        <div>
            <a class="forgot-password" href="#">Forgot password?</a>
        </div>
        <!-- /password input field -->

        <!-- login form submit button -->
        <button class="btn barber-blue btn-block mt-3 mb-2 white-text" type="submit">Log In</button>
        <!-- /login form submit button -->

        <!-- register form redirect link -->
        <div class="text-center not-a-member">
            <p class="text-muted mb-2">Not a member yet?:</p>
            <a href="{{ url_for('register') }}" class="btn btn-login-register-btn barber-blue-text barber-blue-outline m-0">Register Here</a>
        </div>
        <!-- /register form redirect link -->

    </form>
    <!-- /login form -->
    
</div>
<!-- login form card container -->

{% endblock %}