{% extends 'base.html' %}

{% block title %}Logging Out... | Clipadvisor: Rate Your Barber!{% endblock %}

{% block navbarnavlogout %}
<li class="nav-item active">
    <a class="nav-link px-md-2 px-xl-3" href="{{ url_for('logout') }}">Log Out <span class="sr-only">(current)</span></a>
</li>
{% endblock %}

{% block content %}
<!-- logout alert -->
<div class="form-card logout-alert alert alert-success text-center">
    <h4 class="mt-3 mb-4 px-xl-3">Thanks for being a part of Clipadvisor, {{ user.firstname }}</h4>
    <p>You have logged out successfully...</p>
    <hr class="my-2 logout-divider">
    <p class="mt-3 mb-xl-4">We hope to see you again soon!</p>
    <i class="fas thanks-for-reviewing-icon fa-cut pt-1"></i>
</div>
<!-- /logout alert -->
{% endblock %}

{% block scripts %}

<!-- custom script to redirect logged-out user back to Home page after 5 seconds -->
<script src="{{ url_for('static', filename='js/redirect.js') }}"></script>

{% endblock %}